</body>
    <script src="/build.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
            .register('/sw.js')
            .then(function(registration) {
                console.log("SW is AAN", registration);
            })
            .catch(function(err) {
                console.log("ERROR:", err)
            })
        }
    </script>
</html>