<% include partials/header.ejs %>
<section class="#">
    <header>
        <h2><%= data.artObject.title %></h2>
    </header>

    <div>
        <img src="<%= data.artObject.webImage.url %>">
        <p><%= data.artObject.description %></p>
    </div>

</section>

<% include partials/footer.ejs %>