<% include partials/header.ejs %>
<section class="#">
    <header>
        <h1>Detail</h1>
    </header>

    <section>
        <h1><%= data.artObject.id %></h1>
        <img src="<%= data.artObject.webImage.url %>">
    </section>

</section>

<% include partials/footer.ejs %>