<% include partials/head.ejs %>
    <section class="#">
        <header>
            <img src="https://www.rijksmuseum.nl/WebStatic/Images/Logo/rijksmuseum-logo-combined.png">
            <h1>Single Page Web App</h1>
        </header>

        <p>Deze Single Page Webapp is gemaakt met de Rijksmuseum API. U kunt hiermee door de grote collectie doorzoeken. Deze app maakt gebruik van libraries als routie en handlebars.</p>

        <form action="/searchresults" method="post">
            <!--<input type="text" name="userName" placeholder="..." />-->
            <input type="search" id="searchBar"  name="query" placeholder="ex. 'rembrandt', 'blauw', 'vermeer' ">
            <button id="searchBar__btn" type="submit">SEARCH</button>
        </form>

        <div id="spinner" class="spinner section__hide">
            <div class="rect4"></div>
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
        </div>

        <h2 id="alertmsg"></h2>

        <ul>
            <% data.artObjects.forEach(function(data){ %>
            <li>
                <a href="object/<%= data.objectNumber %>">
                    <h2><%= data.longTitle %></h2>
                    <img src="<%= data.headerImage.url %>">
                </a>
            </li>
            <% }) %>
        </ul>
    </section>
<% include partials/footer.ejs %>
